@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --html-background: #485563;
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  color: white;
  background: var(--html-background);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: darkgoldenrod;
}
img {
  width: 100%;
  margin: 0 auto;
}
.dashboard {
  width: 100%;
  height: auto;
}
.landing-top-headlines {
  border-top: 2px solid white;
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
  /* text-align: justify; */
  /* text-justify: none; */
  text-align: justify;
  height: 47vh;
  padding-top: 0.5rem;
  font-size: 16px;
  text-justify: auto;
}
.topHeadlines {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.topheadline-single {
  width: 270px;
  height: 100px;
  flex: 0 0 auto;
  margin-top: 1.3vmax;
  padding: 0 0.7rem;
  margin-bottom: 1.3vmax;
}
.topheadline-single img {
  width: 180px;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  /* height: 100px; */
}
